body {
    background-image: url(https://th.bing.com/th/id/OIP.w_W7DNr3_RYXwdQtD90QyQHaEc?pid=ImgDet&rs=1);
  }
  h1 {
    text-align: justify;
    color: orange;
    font-style: italic;
  }
  